#bg-img
   {
    /* The image used */
   /* background-image: url("poster.jpg"); */
  color: rgb(248, 245, 245);
  background-size: cover;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    min-height: 800px;
  }
  #moviescroll
     {
    background-image: url("pop1.jpg");
    height: 250px;
    font-family: 'Righteous';
    font-size:20px;
    min-height:300px;
    }

    h2 {
      font-size: 40px;
      font-family: 'Staatliches';
    }
    
    #myHeader {
        background-image: url("header.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    }

   /* #trending {
      font-family: 'Righteous', cursive;
      padding-top: 120px;
      font-size: 58px;
      color: black;
      text-shadow: 2px 2px #ff0000;
    }  commented out what I used for the header styling*/
    
    img {
      margin-top: 50px;
      max-width: 400px;
      width: 60vw;
    }
    h1 {
      margin-top: 25px;
      padding: 40px;
      font-size: 3vw;
    }
    .btn {
      width: 100px;
    }
    .dropbtn {
      background-color: #04AA6D;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
    }
    
    #foot {
      background-image: url("pop1.jpg");
      font-family:Georgia, 'Times New Roman', Times, serif;
      font-size: 20px;
    }
    h3 {
      padding-left:780px;
      font-size: 35px;
      font-weight: 900px;
      color:black;
    }
    h5 {
      padding-left: 850px;
      color:black;
    }
    
    #id01{
background-image: url("background.jpg");
    }
  
    #recentsearch {
      background-color: crimson;
      color:black;
      font-family: 'Righteous';
      font-size: 50px;
    }
    .movieBtn {
justify-self: center;
    }
.center {
  padding-left: 50%;
}

/*popper*/

.popover {
  background-color:black;
  font-family: -apple-system, Helvetica Neue, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Open Sans, sans-serif;
  text-transform: uppercase;
  padding: 50px;
  
}

#popcorn1 {
  display: inline-block;
  width: 134px;
  height: 120px;
  background-image: url('https://popper.js.org/images/popcorn-box.svg');
  justify-content:space-between;
  
}
#popcorn2 {
  display: inline-block;
  width: 134px;
  height: 120px;
  background-image: url('https://popper.js.org/images/popcorn-box.svg');
  justify-content:space-between;
  
}
#popcorn3 {
  display: inline-block;
  width: 134px;
  height: 120px;
  background-image: url('https://popper.js.org/images/popcorn-box.svg');
  justify-content:space-between;
  
}

#tooltip {
  display: inline-block;
  background: #ffffff;
  color: black;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 13px;
  border-radius: 4px;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

#tooltip[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

#tooltip[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

#tooltip[data-popper-placement^='right'] > #arrow {
  left: -4px;
}
