#bg-img
   {
    /* The image used */
    background-image: url("poster.jpg");
  color: ivory;
  background-size: cover;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
  }
  #moviescroll
     {
    background-image: url("pop1.jpg");
    height: 200px;
    }
    
    #myHeader {
        background-image: url("scroll.png");
        background-color: black;
        font-family: 'Staatliches';
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    }
    #trending {
      padding-top: 110px;
      font-size: 4vw;
      color: black;
    }
    
    img {
      margin-top: 50px;
      max-width: 400px;
      width: 60vw;
    }
    h1 {
      margin-top: 25px;
      padding: 40px;
      font-size: 3vw;
    }